/* #root {
  max-width: 1280px;
} */

th, td, .link {
  padding: 10px 4px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  
}

.renderNews {
  text-align: left;
}

/* tbody tr:hover {
  background-color: #fafafa;
} */

td {
  background-color: #f8f8f8;
}

tr:hover {
  background-color: white;
}

tr:hover {
  /* background-color: transparent; */
  outline: 2px solid #d3d3d3
}


.shadow:hover {
  box-shadow: 2px 10px 10px gray;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-150%); }
}

.marquee {
  display: flex;
  gap: 8px;
  min-width: 100%;
  animation: marquee 20s linear infinite;
}
